/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px auto;
	max-width: 1140px;
}
main{
	max-width: 1140px;
	margin:auto;
}
section {
	margin: 50px 0;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span{
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}
h3{
	font-family: 'Work Sans';
	font-size: 26px;;
}

a, header h1{
	cursor: pointer;
}

a {
	text-decoration: none;
	color: black;
	font-weight: 400;
}
.active-link {
	font-weight: 600;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em
}
li a:hover {
	color: #B1663C;
}
nav img{
	width: 22px;
	height: 22px;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.categories{
	display: flex;
	justify-content: center;
	margin: 50px 0 50px 0;
}
.btn-categories{
	background-color: white;
	color: #1D6154;
	border-radius: 50px;
	padding: 8px 16px;
	margin: 0 8px;
	font-family: 'Syne';
	font-weight: 700;
	cursor: pointer;
}
.active, .btn-categories:hover { 
	background-color: #1D6154;
	color: white;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

/* CONTACT */

#contact, #login {
	width: 50%;
	margin: auto;
}
#contact, #login > * {
	text-align: center;
}
#contact h2, #login h2{
	margin-bottom: 20px;
}
#contact form, #login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, #login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, #login label {
	margin: 2em 0 1em 0;
}
#contact textarea, #login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}
#input:hover, input:active{
	border : 3px solid rgb(23, 133, 148);
}
#login{
	margin-bottom: 150px; /* to avoid footer overlap */
}
#login span, #login p {
	text-align: center;
}
#login span{
	text-decoration: underline;
}
.login-error-msg, .add-img-error-msg, .add-img-ok-msg {
	margin: 37px 0 37px 0;
	color: firebrick;
	font-weight: 600;
	display: none; /* hidden by default, modified with js if error*/
}
.add-img-ok-msg {
	color : #1D6154;
}




/* interface admin */
.admin-header{
	display: none; /* hidden by default */
	justify-content: center;
	align-items: center;
	height: 60px;
	width: 100%;
	background-color: black;
	color: white;
	font-size : 16px;
}
.admin-header i, .portfolio-header i{
	margin-right: 10px;
}
.admin-header i, .admin-header p{
	cursor: pointer;
}
.portfolio-header{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.admin-portfolio-btn {
	display: none; /* hidden by default */
    cursor: pointer;
	margin-left: 20px;
	margin-top: 10px;
}


/*///// MODALE /////*/

/* fenetre globale*/
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none; /* masquée par défaut */
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.8);
}
.modal[open] {
	display: flex; /* affichée quand .showModal() */
}

/* modules internes*/
.modal-gallery, .modal-add-img {
	background-color: #fff;
	border-radius: 10px;
	padding: 40px;
	width: 630px;
	display: flex;
	flex-direction: column;
	text-align: center;
}
/*croix pour fermer et fleche retour */
.btn-modal-close, .btn-back-gallery {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	background: none;
	border: none;
	font-size: 20px;
	cursor: pointer;
}

/*contenu sous le titre des modules*/
.modal h3{
	padding-bottom: 40px;
}
.separate{
	margin: 40px 0 40px 0;
	height: 1px;
	border-bottom : 2px solid #B3B3B3;
}

/*bouton ajouter une photo module 1 et valider module 2*/
.btn-add-img, .btn-validate{
	font-size : 14px;
	color: white ;
	border-radius: 50px;
	padding: 8px 16px;
	font-family: 'Syne';
	cursor: pointer;
	border: none;
	width: 237px;
	align-self: center;
}
.btn-add-img{
	background-color: #1D6154;
}
.btn-validate{
	background-color: #A7A7A7;
}



/*disposition images module 1*/
.admin-gallery {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap:10px;
}
.admin-gallery img {
	width: 100%;
	display: block;
	padding-bottom: 20px;
}

/*croix des icones images */
.admin-gallery figure {
	position: relative;
}
.delete-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding : 10px;
	background: black;
	color: white;
	border: none;
	border-radius: 20%;
	width: 10px;
	height: 10px;
	font-size: 12px;
	cursor: pointer;
}

/*formulaire module 2*/
.modal-add-img form{
	display: flex;
	flex-direction: column;
	text-align: left;
	gap : 20px;
}
.modal-add-img-nav{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.modal-add-img input, .modal-add-img select {
	background: #fff;
	height: 40px;
	border: none;
	box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.09);
}

/* class générale pour le JS*/
.hidden {
	display: none;
}

/* Zone de téléchargement (avant choix image) */

.upload-area {
  background-color: #E8F1F6;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  min-height: 169px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.upload-area i {
  font-size: 40px;
  color: #B9C5CC;
}
.upload-area p{
	background-color: #CBD6DC;
	border-radius: 50px;
	padding: 15px;
}
.upload-area span {
	margin-top : 10px;
	font-size : 10px;
	font-weight : 400;
	color: #444444;
}
.upload-area p {
  margin: 10px 0 0;
  color: #306685;
  font-size: 14px;
  font-weight : 500;
}

/* Aperçu de l’image.*/
.preview {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E8F1F6;
  min-height: 169px; /* même hauteur que .upload-area */
}
.preview img {
  max-width: 100%;
  max-height: 200px;
  object-fit: contain;
}
.bi-image{
	width: 76px;
}


/*footer*/
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}
footer a{
	font-family: 'Work Sans' ;
	font-size: 14px;
}
